[Unit] 
Description=EcoliAppDesc
After=multi-user.target 

[Service]
WorkingDirectory=/home/ubuntu/AB-resistance-in-ecoli/scripts/
# change flags (-s 0 -e 531 -y)
ExecStart=python3 /home/ubuntu/AB-resistance-in-ecoli/scripts/create.py -s 0 -e 531 -y
RestartSec=10 
StandardOutput=file:/vars/ecoli_log
StandardError=file:/vars/ecoli_log
SyslogIdentifier=ecoli
User=ubuntu

[Install] 
WantedBy=multi-user.target 
ubuntu@ip-172-31-22-11
